---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---


		<nav class="navbar navbar-expand-lg">
			<div class="container">
			  <a class="navbar-brand" href="#">
				<img src="https://maarifaa.org/wp-content/uploads/elementor/…ng-qfqir9ky7wkcwrbjve22risf2g36ibn1cpgy1vsrb8.png" alt="logo">
			  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
				  <li class="nav-item mx-3">
					<a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
				  </li>
				  <li class="nav-item mx-3">
					<a class="nav-link fw-bold" href="/about">About</a>
				  </li>
				  <li class="nav-item mx-3">
					<a class="nav-link fw-bold" href="/mission">Mission</a>
				  </li>
				  <li class="nav-item mx-3">
					<a class="nav-link fw-bold" href="/vision">Vision</a>
				  </li>
				  <li class="nav-item mx-3">
					<a class="nav-link fw-bold" href="/blog">Blog</a>
				  </li>
				  <li class="nav-item mx-3">
					<a class="nav-link fw-bold" href="/contact">Contact</a>
				  </li>
				  <li class="nav-item mx-3">
					<a class="btn btn-secondary" href="#">Join as Member</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>

